<!DOCTYPE HTML>
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row navigation-order">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <a href="localhost:8083/profile-management/person">Click here to go to get person information</a>
        </div>
    </div>
</div>
</body>
</html>